* {
    box-sizing: border-box;
}

 :root {
    --size: 20px;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: hsl(0 0% 6%);
}

.el {
    background: conic-gradient(from 180deg at 50% 70%, hsla(0, 0%, 98%, 1) 0deg, #FAD201 72.0000010728836deg, #1F3A3D 144.0000021457672deg, hsla(0, 0%, 98%, 1) 1turn);
    width: 100%;
    height: 100%;
    mask: radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50% / var(--size) var(--size), url("images/maps/back_noisemap.png") 256px 50% / 256px 256px;
    mask-composite: intersect;
    animation: flicker 20s infinite linear;
}

@keyframes flicker {
    to {
        mask-position: 50% 50%, 0 50%;
    }
}