#tabBar {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-radius: 30px;
    background-color: rgb(49, 49, 49);
    width: 20%;
    height: 100%;
}